$desktop-width: 768px;
$custom-darker-blue: #0091CB;
$custom-blue: #009FDF;
$custom-grey: #A8B0B7;
$custom-green: LightGreen;
$custom-light-green: rgb(229,255,229);
$body-color: #E4E7E9;
$error-red: red;
$custom-lighter-blue: LightSkyBlue;
$custom-light-blue: lightblue;
$custom-orange: orange;
$control-spacing: 4px;
